.btn {
  padding: 20px 60px;
  margin: 40px 30px;
  font-size: 20px;
  border: none;
  background-color: rgb(153, 54, 219);
  color: white;
  border-radius: 5px;
}

.hint{
  padding-bottom: 30px;
  font-weight: bold;
}