.prompt_message{
color: white;
background-color: rgb(34, 33, 33);
padding: 15px 25px;
border-radius: 12px;
font-size: 0.9rem;
margin-bottom: 12px;
position: absolute;
top: 6rem;
  left: 50%;
    transform: translate(-50%, 0)
}

