.card-row {
  margin-top: 0%;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  height: max-content;
  justify-content: center;
}

.colorcard {
  height: 12rem;
  width: 10rem;
  border-radius: 5px;

}


.hex-color{
padding-top: 10px;
font-size: 1rem;
}