.card-row {
  display: flex;
  width: 80%;
  height: max-content;
  justify-content: space-around;
}

.colorcard {
  height: 20rem;
  width: 15rem;
  border-radius: 5px;

}

.colorframe {
  border-radius: 5px;
  padding: 10px 10px 30px 10px;
  background-color: rgb(241, 241, 241);
  height: max-content;
  width: auto;
  text-align: center;
}

.hex-color{
padding-top: 20px;
font-size: 1.2rem;
color: rgb(27, 27, 27);
}